<%= simple_nested_form_for @ad, html: {id: 'ad-form', class: 'form-horizontal'},
  wrapper: :horizontal_form do |f| %>
  <!-- Error indication -->
  <%= f.error_notification %>

  <!-- Ad fields -->
  <div class="row">
      <%= f.input :budget, wrapper: :horizontal_input_group do %>
        <span class="input-group-addon">$</span>
        <%= f.input_field :budget, class: "form-control" %>
      <% end %>
  </div>

  <!-- Creative and Target headers -->
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Creatives</h2>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Targetings</h2>
    </div>
  </div>

  <div class="row">
    <!-- Creative fields -->
    <div class="col-md-6">
      <%= f.simple_fields_for :creatives, wrapper: :horizontal_input_group,
        html: {class: "form-horizontal"} do |ff| %>
        <div class="row">
          <div id="creatives" class="col-md-12">
            <%= ff.input :bid, wrapper: :horizontal_input_group do %>
              <span class="input-group-addon">$</span>
              <%= ff.input_field :bid, class: "form-control" %>
            <% end %>
            <%= ff.input :ad_text, wrapper: :horizontal_input_group %>
            <hr>
          </div>
        </div>
      <% end %>

      <div class="row text-center">
        <%= f.link_to_add "More creatives", :creatives,
          data: { target: "#creatives" }, class: "btn btn-default" %>
      </div>
    </div>

    <!-- Targeting fields -->
    <div class="col-md-6">
      <%= f.simple_fields_for :targetings, wrapper: :horizontal_input_group,
        html: {class: "form-horizontal"} do |ff| %>
        <div class="row">
          <div id="targetings" class="col-md-12">
            <%= ff.input :places %>
            <%= ff.input :gender,
              collection: Targeting.genders.keys.map { |w| [w.humanize, w] },
              selected: :unkown, include_blank: true %>
            <hr>
          </div>
        </div>
      <% end %>

      <div class="row text-center">
        <%= f.link_to_add "More targetings", :targetings,
          data: { target: "#targetings" }, class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <!-- Submit button -->
  <div class="row">
    <div class="col-md-12">
      <%= f.submit 'Create', class: "btn btn-primary btn-lg center-block" %>
    </div>
  </div>
<% end %>
