<%= nested_form_for @ad, :html => {:class => "form-horizontal"} do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2>
        Could not save this ad due to <%= pluralize(@ad.errors.count, "error") %>:
      </h2>
      <ul>
        <% @ad.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <%= f.label :budget, class: "col-md-4 control-label" %>
      <div class="col-md-8 input-group">
        <div class="input-group-addon">$</div>
        <%= f.text_field :budget, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Creatives</h2>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Targetings</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.fields_for :creatives, :html => {:class => "form-horizontal"} do |builder| %>
        <%= render "creative_fields", :f => builder %>
      <% end %>
      <%= f.link_to_add "Add a creative", :creatives %>
    </div>
    <div class="col-md-6">
      [ TODO ]
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit 'Create', class: "btn btn-primary center-block" %>
    </div>
  </div>
<% end %>
