<%= nested_form_for @ad do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2>
        Could not save this ad due to <%= pluralize(@ad.errors.count, "error") %>:
      </h2>
      <ul>
        <% @ad.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :budget %><br>
    <%= f.text_field :budget %>
  </p>

  <h2>Creatives</h2>

  <%= f.fields_for :creatives do |builder| %>
    <%= render "creative_fields", :f => builder %>
  <% end %>
  <p><%= f.link_to_add "Add a creative", :creatives %></p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
