<h1>Listing ads</h1>

<%= link_to 'New ad', new_ad_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Budget</th>
    <th># of creatives</th>
    <th colspan="2"></th>
  </tr>

  <% @ads.each do |ad| %>
    <tr>
      <td><%= ad.id %></td>
      <td><%= ad.budget %></td>
      <td><%= ad.creatives.count %></td>
      <td><%= link_to 'Show', ad_path(ad) %></td>
      <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    </tr>
  <% end %>
</table>
