<div class="row">
  <div class="col-md-12 page-header">
    <h1 class="text-center">Ads List</h1>
    <%= link_to 'Create new Ad', new_ad_path, :class => "btn btn-default btn-new-ad" %>
  </div>
</div>

<% @ads.each do |ad| %>
  <div class="row">
    <div class="col-md-12">
      <span class="ad-name"><%= ad.id %></span>
      <span class="ad-budget">$<%= ad.budget %></span>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Bid</th>
              <th>Ad Text</th>
            </tr>
        </thead>
          <tbody>
            <% ad.creatives.each do |creative| %>
              <tr>
                <td>$<%= creative.bid %></td>
                <td><%= creative.ad_text %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Places</th>
              <th>Gender</th>
            </tr>
        </thead>
          <tbody>
            <% ad.targetings.each do |targeting| %>
              <tr>
                <td><%= targeting.places %></td>
                <td><%= targeting.gender %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row show-edit-links">
      <td><%= link_to 'Show', ad_path(ad) %></td> |
      <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12 text-center">
    <%= paginate @ads %>
  </div>
</div>
