<div class="row">
  <div class="col-md-12 page-header">
    <h1 class="text-center">Ads List</h1>
    <%= link_to new_ad_path, class: "btn btn-default btn-new-ad" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Ad
    <% end %>
  </div>
</div>

<% @ads.each do |ad| %>
  <%= link_to edit_ad_path(ad) do %>
    <div class="row ad-list-row">
      <div class="col-md-1">
        <h2><%= ad.id %>.</h2>
      </div>
      <div class="col-md-5 text-center">
        <h2>$<%= ad.budget %></h2>
      </div>
      <div class="col-md-3 text-center">
        <h2>Creatives: <%= ad.creatives.count %></h2>
      </div>
      <div class="col-md-3 text-center">
        <h2>Targetings: <%= ad.targetings.count %></h2>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12 text-center">
    <%= paginate @ads %>
  </div>
</div>
