<h1>New Ad</h1>

<%= form_for :ad, url: ads_path do |f| %>
  <p>
    <%= f.label :budget %><br>
    <%= f.text_field :budget %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', ads_path %>
